  <footer id="footer">
      <div class="container-fluid i_footer_body" style="height: 350px;">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 i_footer_m_pad">
              <ul class="i_footer_li_no">
                   <li class="i_footer_txt">
                  <a href="http://www.lamptan.co.th"  rel="external nofollow">HOME</a>
                </li>
                <li class="i_footer_txt">
                  <a href="/smarthome">smart home</a>
                </li>
                <li class="i_footer_txt">
                  <a href="/products">lighting</a>
                </li>
                <li class="i_footer_txt">
                  <a href="/t/decoration">lamp-decoration</a>
                </li>
                 <li class="i_footer_txt">
                  <a href="/newsandmedia">blog</a>
                </li>

               
              </ul>
          </div>
          
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 i_footer_m_pad">
            <ul class="i_footer_li_no">

              <li class="i_footer_txt"> <a href="/termandcondition">Term and condition</a></li>
              <li class="i_footer_txt"> <a href="/agent">contact us</a></li>
              <li class="i_footer_txt">
                <a href="/agent">Agent</a>
              
              </li>
              <li class="i_footer_txt"> <a href="/support">support</a></li>
              <li>
                <ul class="i_footer_li_no">
                     <li class="i_footer_title4"><a href="/faq">FAQ</a></li>
                 
                  <li class="i_footer_title4"><a href="/catalogue">Catalogue</a></li>
     
                </ul>
              </li>
            </ul>

          </div>
          
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <ul class="i_footer_li_no2">
              <li class="i_footer_txt i_footer_title_bt">lamptan lighting (2001) co.,ltd</li>
              <li class="i_footer_txt2 i_footer_title_bt">18/72-75 soi thianthale 19,bangkhunthian - chaithale rd., thakarm, bangkhunthian bangkok 10150 </li>
              <li class="i_footer_txt2">tel : 02-451-2968-9</li>
              <li class="i_footer_txt2">fax : 02-897-2938</li>
              <li class="i_footer_txt2">email: customerservice@lamptan.co.th</li>
           
              <li class="i_footer_txt ">follow us</li>
              <li class="i_footer_txt2 "> 
               <a href="https://www.facebook.com/lamptanlighting/" rel="external nofollow" target="_blank"> <%= image_tag("facebooks.png", :alt => "logo", :class => "img-fluid") %> </a>
              
                </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container-fluid i_footer_copy d-flex justify-content-center pt-2 pb-2">
        <div class="row">
          <div class="col-12  i_footer-copy">Copyright © 2018 Lamptan Company Limited, All Rights Reserved.
        </div>
        </div>
      </div>
     </footer> 