
<div class="w-75 payment_paypal_text">
  Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
</div>
<div class="mt-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col text-center payment_text_option text_bold" class="line_top">Bank Name</th>
        <th scope="col " class="line_top text-center  payment_text_option text_bold">Acount Number</th>
        <th scope="col " class="line_top text-center payment_text_option text_bold">Acount Name</th>
        <th scope="col" class="line_top text-center  payment_text_option text_bold">Transfer type</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="payment_va_m"><%= image_tag("payment/scb.png", :alt => "logo", :class => "img-fluid" , :style=>"height: 65px; width: 65px") %>


        </th>
        <td class="text-center payment_va_m payment_paypal_text">บจก. แลมป์ตัน ไลท์ติ้ง (2001) จำกัด</td>
        <td class="text-center payment_va_m payment_paypal_text">003-310196-4</td>
        <td class="text-center payment_va_m payment_paypal_text">บัญชีเงินฝากกระแสรายวัน</td>
       

      </tr>
      <tr>
        <th scope="row" class="payment_va_m"><%= image_tag("payment/bkk.jpg", :alt => "logo", :class => "img-fluid", :style=>"height: 65px; width: 65px") %>


        </th>
        <td class="text-center payment_va_m payment_paypal_text">บจก. แลมป์ตัน ไลท์ติ้ง (2001) จำกัด</td>
        <td class="text-center payment_va_m payment_paypal_text">037-8-02244-6</td>
        <td class="text-center payment_va_m payment_paypal_text">บัญชีเงินฝากกระแสรายวัน</td>
       

      </tr>
      <tr>
        <th scope="row" class="payment_va_m"><%= image_tag("payment/logo.png", :alt => "logo", :class => "img-fluid") %>


        </th>
        <td class="text-center payment_va_m payment_paypal_text">บจก. แลมป์ตัน ไลท์ติ้ง (2001) จำกัด</td>
        <td class="text-center payment_va_m payment_paypal_text">711-1-08886-6</td>
        <td class="text-center payment_va_m payment_paypal_text">บัญชีเงินฝากกระแสรายวัน</td>
       

      </tr>
    </tbody>
  </table>
</div>
<div class="mt-4"> 
  <ul class="payment_ul_bank">
    <li>
      <%= image_tag("payment/warn.png", :alt => "logo", :class => "img-fluid") %>

    </li>
    <li>
      <div class="payment_text_small d-inline ">      กรุณาแจ้งยืนยันการโอนเงินผ่านเมนู “Confirm  Payment” ของเว็บไซต์<br> 
        (Please confirm Payment via “Confirm Payment” menu within this website )
      </div>
    </li>
  </ul>
</div>

