<div class="page-header"><h1><%= link_to Photo.where(:title => "R575122204").first.image.url %></h1></div>

<div class="media">


  <% @photos.each do |photo| %>
    <div class="media-left">
      <!-- Renders image -->

      <%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url, target: '_blank' %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= photo.title %></h4>
    </div>
  <% end %>
</div>