<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    
     
    <title>lamptan</title>
  </head>
  <body>
    <!--vision_missions-->
    <section id="about_vision_missions">
      <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
              <div class="about_txt_title text-uppercase  ">
                vision & missions
              <hr/>
              </div>
            </div>
           
          </div>
      </div>
      <img src="assets/images/img_vision.JPG" class="img-fluid w-100" />
      <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
              <div class="about_txt about_text_mt_mb ">
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx <br>
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx<br>
              </div>
            </div>
           
          </div>
      </div>
    </section>
    <!--vision_missions-->

    
    
    

    
      

  

    <!--body--> 
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    

   <link rel="stylesheet" href="assets/css/index.css">
    
  </body>
</html>