<footer id="footer" class="sixteen columns" data-hook style="margin: auto 10%;">
	<div id="footer-left" class="columns alpha four" data-hook>
		<h5>ABOUT</h5>
		<ul>
			<li>COMPANY PROFILE</li>
			<li>CERTIFICATE</li>
		</ul>
		<h5>SMART HOME</h5>
		<ul class="list-unstyled">
			<li>FAQ</li>
		</ul>
	</div>
	<div id="footer-center" class="columns alpha three" data-hook>
		<h5>BLOG</h5>
		<h6>CONTACT US</h6>
		<ul>
			<li>Home Office</li>
			<li>Lamptan Bright Studio</li>
		</ul>
		<h6>SUPPORT</h6>
		<ul class="list-unstyled">
			<li>FAQ</li>
		</ul>
	</div>
	<div id="footer-center" class="columns alpha three" data-hook>
		<h5>BLOG</h5>
		<ul>
			<li>HOW TO SHOP</li>
			<li>HOW TO REGISTER</li>
		</ul>
	</div>
	<div id="footer-right" class="columns omega six" data-hook>
		test
	</div>
</footer>
