<nav class="columns sixteen" style="background-color: rgb(94,94,94)">
  <ul id="main-nav-bar" class="inline" data-hook>
<!--     <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li> -->
  <li>
    ABOUT
  </li>
   <li>
     <a href="/smarthome" >SMART HOME </a>
  </li>
   <li>
    LIGHTING
  </li>
   <li>
    LAMP DECORATION
  </li>
   <li>
    NEWS & MEDIA
  </li>
   <li>
    BLOG
  </li>
  <li>
    CONTACT US
  </li>
  <li>
    SUPPORT
  </li>
    
  </ul>
  <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
</nav>
